@import "tailwindcss";

@theme {
   --font-outfit: "Outfit", "Roboto";
   --font-roboto: "Roboto", "Outfit", "sans-serif";
   --color-lima-50: #f3faeb;
   --color-lima-100: #e2f4d3;
   --color-lima-200: #c7ebab;
   --color-lima-300: #a2dc7a;
   --color-lima-400: #7dc94a;
   --color-lima-500: #62b032;
   --color-lima-600: #4a8c24;
   --color-lima-700: #3b6b20;
   --color-lima-800: #31561e;
   --color-lima-900: #2c491e;
   --color-lima-950: #14280b;
   --color-vida-loca-50: #f3f9ec;
   --color-vida-loca-100: #e3f2d5;
   --color-vida-loca-200: #c9e6b0;
   --color-vida-loca-300: #a6d581;
   --color-vida-loca-400: #86c259;
   --color-vida-loca-500: #67a73b;
   --color-vida-loca-600: #599631;
   --color-vida-loca-700: #3e6625;
   --color-vida-loca-800: #345222;
   --color-vida-loca-900: #2e4621;
   --color-vida-loca-950: #15260d;
   --color-sapphire-50: #f1f7fd;
   --color-sapphire-100: #e0eef9;
   --color-sapphire-200: #c8e1f5;
   --color-sapphire-300: #a2ceee;
   --color-sapphire-400: #76b2e4;
   --color-sapphire-500: #5596dc;
   --color-sapphire-600: #417ccf;
   --color-sapphire-700: #3769be;
   --color-sapphire-800: #315396;
   --color-sapphire-900: #2d497b;
   --color-sapphire-950: #202e4b;
   --color-royal-purple-50: #faf7fd;
   --color-royal-purple-100: #f3edfa;
   --color-royal-purple-200: #e8def6;
   --color-royal-purple-300: #d6c3ef;
   --color-royal-purple-400: #be9de3;
   --color-royal-purple-500: #a477d5;
   --color-royal-purple-600: #8d59c4;
   --color-royal-purple-700: #70419f;
   --color-royal-purple-800: #653d8c;
   --color-royal-purple-900: #533271;
   --color-royal-purple-950: #371a51;
}
@keyframes coin-flip {
   0%,
   100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
   }
   0% {
      transform: rotateY(0deg);
   }
   50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
   }
   100% {
      transform: rotateY(3600deg);
   }
}
